body{
    display: flex;
    justify-content: center;
    gap: 25px;
    
}

.toolbar{
    width: 150px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px black;
    text-align: center;
}

body > div{
    border: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px black;
    width: 600px;
    height: 600px;
}

div.container{
    display: flex;
    flex: 1;
    justify-content: center;
    border: none;
}

div.cell{
    flex: 1;
    background-color: whitesmoke;
    padding: 0px;

}

div.cell.hover{
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px black;
    z-index: 0;
}

div.cell.draw{
    background-color: black;
}

h1{

}

h2{
    text-align: center;

}

h3{
    font-size: 15px;
}