.main-container {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    border: solid;
}

div.container{
    align-items: center;

}

div.cell{
    flex: 1;
    background-color: aqua;
    padding: 10px;
}

div.cell.hover{
    background-color: azure;
}